/* styles/globals.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.theme_color {
    color: #108D15;
}

.bg-grand {
    background-color: #B6CFBF;
}

.secondary_color {
    color: rgba(252, 212, 0, 0.93);
}