/* styles/globals.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.logo-text {
    color: #108D15;
}

.theme_color {
    color: #AAFFC7;
}

.secondary_color {
    color: #FCD400;
}

.bg-custom-green {
    position: relative;
    background-color: #108D15;
}

/* Register Button Style Starts */

.border-primary-base-color {
    border-color: #108D15;
    border-radius: 8px;
}

.button-font-size {
    font-size: .5em;
}

.shadow-button {
    box-shadow: 0 0 0 4px #F4EBFF, 0 1px 2px 0 rgba(16, 24, 40, 0.05);
}

/* Register Button Style Ends */

.blob {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #109815;
    border-radius: 50%;
}

.blob::before,
.blob::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #109815;
    border-radius: 50%;
}

.blob::before {
    top: -50px;
    /* Adjust the position of the blob */
    left: -50px;
    /* Adjust the position of the blob */
}

.blob::after {
    top: -50px;
    /* Adjust the position of the blob */
    right: -50px;
    /* Adjust the position of the blob */
}

.bg-image {
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-right {
    background-position: right center;
}

@media (max-width: 650px) {
    .header-text {
        font-size: 40px;
    }
}